<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adstetica - Конструктор баннеров</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="https://static.tildacdn.com/tild6565-6365-4966-a438-383065636630/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/main.css', v=0.1)}}">
	<script src="{{ url_for('static',filename='js/download.js') }}"></script>
</head>
	<h1 class="page-title">Конструктор баннеров</h1>
	<hr>
	<form id="generator-form" action="" method="post">
		<p>
			<label class="input-title">Рекламный текст</label>
		</p>
		<p>
			<input class="input-block" type="text" name="adtext" placeholder="Продам свежие яблоки прямиком из Средней Азии">
		</p>
		<p>
			<input class="form-submit" type="submit" value="Получить баннер",>
		</p>

		<div class="search_gallery">
			{% for image in images_list %}
				<div>
					<img src="data:image/{{ image['ext'] }};base64,{{ image['imageString'] }}" width="216" height="384">
					<button class="download-button" type="button" onclick="clickHandler('{{ image['imageString'] }}', '{{ image['ext'] }}')">Скачать</button>
					<script>
						function clickHandler(imageString, ext) {
							download("data:application/octet-stream;base64," + imageString, "pic." + ext, "application/octet-stream;base64");
						}
					</script>
				</div>
			{% endfor %}
  		</div>
	</form>
</body>
</html>